[client]
default-character-set=utf8mb4

[mysqld]
character-set-server=utf8mb4
default_authentication_plugin=mysql_native_password
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

slow_query_log # slow query log 有効化
long_query_time=5 # 5 秒以上時間を要したクエリを記録
log-queries-not-using-indexes # index が未使用のクエリを出力
slow_query_log_file=/var/log/mysqld_slow.log # log のパス

[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
